body,
html {
    font-family: Roboto, sans-serif;
    font-size: .94rem;
    font-weight: 400;
    line-height: 1.5;
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}
  
  [aria-expanded="false"] .menu__icon--close {
    display: none;
}
  
  [aria-expanded="true"] .menu__icon--open {
    display: none;
}
  
  [aria-expanded="true"] .menu__icon--close {
    display: block;
}

.navbar-dark .navbar-toggler {
    color: #ffffff;
    outline-color: #092B52;
    border: #092B52;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}

h6 {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700; 
}

.bg-dark {
    background-color: #092B52!important;
}

.iv-logo {
    width: 50px;
}

.navbarText {
    float: right;
    margin-left: .2rem;
    text-decoration: inherit;
}

#projectBranding {
    margin-left: 10px;
    line-height: 1.32rem;
}

.projectTitle,
.projectTitle {
    font-size: 1.14rem;
    font-style: italic;
    color: #ffffff;
}

.projectTitle {
    font-weight: 600;
}

.projectSlogan {
    font-size: .8rem;
    color: #e5ebf1;
}

.slant {
    background-color: #f9f9f966;
    height: 2rem;
    width: 1px;
    margin-left: 15px;
    transform: rotate(10deg);
}

.EATitle,
.EATitle {
    font-size: 1.14 rem;
    font-style: italic;
    color: #ffffff;
    margin-left: 15px;
}

/* nav bar */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}